<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>

        <!--- basic page needs
    ================================================== -->
        <meta charset="utf-8">
        <title>Hassan Ismail's</title>
        <meta name="hassanismail's personal website" content>
        <meta name="Hassan Ismail" content>

        <!-- mobile specific metas
    ================================================== -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- CSS
    ================================================== -->
        <link rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/mine.css">

        <!-- script
    ================================================== -->
        <script src="/js/modernizr.js"></script>

        <!-- favicons
    ================================================== -->
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">

        <%- include('navbar'); -%>

    </head>