<nav id="mynavbar" class="navbar navbar-dark bg-dark">
    <div id="mynavbarcontainer" class="container">
      <ul class="nav navbar-nav navbar-center">

        <li id="home"><a href="/">HOME</a></li>
        <li id="about"><a href="/blog">BLOG</a></li>
        <li id="about"><a href="/mywork">MY WORK</a></li>
        <li id="about"><a href="/about">ABOUT</a></li>
        <li id="contact"><a href="/contact">CONTACT ME</a></li>
        
      </ul>

    </div>
  </nav>