

<a class="info-toggle" href="#0">
    <span class="info-menu-icon"></span>
</a>
<style>
    @media (min-width: 767px) {
  #side-navbar {
    display:none;
  }
}
</style>
<div class="s-info">
    <nav id="side-navbar" class="navbar navbar-dark bg-dark d-block d-sm-none">
        <div id="side-navbar-container" class="container">
            <ul class="nav navbar-nav">

                <li id="home"><a href="/">HOME</a></li>
                <li id="about"><a href="/blog">BLOG</a></li>
                <li id="about"><a href="/mywork">MY WORK</a></li>
                <li id="about"><a href="/about">ABOUT</a></li>
                <li id="contact"><a href="/contact">CONTACT ME</a></li>
            </ul>

        </div>
    </nav>

    <div class="row info-wrapper">

        <div class="col-seven tab-full info-main">
            <h1>I'm Hassan Ismail,<br>
                You can call me <font COLOR="#64CCC5">Flik.</font></h1>
            <p>
                A Mechatronics Engineer specialized in Electronics and
                Programming.
                Experienced with all stages of robots and automation tasks,
                good knowledge with IT, interested in designing and developing
                robotics
                (e.g., Pro-duction Lines, ROVs, CNCs, GP Robotics),
                Strong background in project management. And taking Graphic
                Design as a hobby.
            </p>

            <p>
                Moving into software engineering was a big dream.
                In Septemper 2023 after finishing military service,
                that dream is starting to come true.
                If you are scared of change, be scared. It is scary!
                But if you consider it well,
                it might just be the best decision of your life.
            </p>
        </div>

        <div class="col-four tab-full pull-right info-contact">

            <div class="info-block">
                <h3>Start A Conversation</h3>
                <p>
                    <a href="mailto:hihassanismail11@gmail.com"
                        class="info-email">hihassanismail11@gmail.com</a><br>
                    <a href="tel:+01149949175" class="'info-phone">+2 011 499 49
                        175</a>
                </p>
            </div>

            <div class="info-block">
                <h3>Location</h3>

                <p class="info-address">
                    New Cairo, Egypt
                </p>
            </div>

            <div class="info-block">
                <h3>Find Me On</h3>

                <ul class="info-social">
                    <li>
                        <a href="https://www.facebook.com/hassanismail11"
                            target="_blank" rel="noopener noreferrer"><i
                                class="fab fa-facebook-f" aria-hidden="true"></i><span>Facebook</span></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/hassanismail111"
                            target="_blank" rel="noopener noreferrer"><i
                                class="fab fa-twitter" aria-hidden="true"></i><span>Twiiter</span></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/hassanismail11/"
                            target="_blank" rel="noopener noreferrer"><i
                                class="fab fa-instagram" aria-hidden="true"></i><span>Instagram</span></a>
                    </li>
                    <li>
                        <a href="https://github.com/hassanismail11"
                            target="_blank" rel="noopener noreferrer"><i
                                class="fab fa-github" aria-hidden="true"></i><span>Github</span></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/hassanismail11/"
                            target="_blank" rel="noopener noreferrer"><i
                                class="fab fa-linkedin" aria-hidden="true"></i><span>LinkedIn</span></a>
                    </li>
                    <li>
                        <a href="https://wa.me/201149949175"
                            target="_blank" rel="noopener noreferrer"><i
                                class="fab fa-whatsapp" aria-hidden="true"></i><span>WhatsApp</span></a>
                    </li>
                </ul>
            </div>

        </div>

    </div>

</div>