<%- include('partials/header'); -%>

<body>

    <main class="s-home ">

        <div id="particles-js" class="home-particles"></div>
        
        <div class="gradient-overlay"></div>

        <div class="home-content">

            <div  id="contact-about-logo" class="home-logo">
                <a href="/">
                    <img src="/images/logo.svg" alt="Homepage">
                </a>
            </div>

            <div class="row home-content__main">

                <div id="workCard" class="col-twelve home-content__text pull-right">
                    <%= work.workTitle %>
                    
                </div>

            </div>

        </div>

    </main>

    <!-- Java Script
    ================================================== -->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/plugins.js"></script>
    <script src="/js/polygons.js"></script>
    <script src="/js/main.js"></script>

</body>

</html>